.col {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
}

.grid-container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}
.header {
    display:none;
}
.sidebar {
  display:none ;
}

.main {
  grid-area: main;
  background-color: #f5f5f5;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "header"  100px
    "main"    auto
    "sidebar" 100px
}

@media (min-width: 960px) {
.sidebar{
    display:content;
}
.header{
    display:content;
}
  .grid-container {
    grid-template:
      ".        header" 100px
      "sidebar  main" auto /
      100px    300px;
  }
}
