.grid-container {
  display: grid;
  grid-template-columns : 1fr;
}

.flex-container {
  display: grid;
  flex-wrap: wrap;
  gap: 10px;
  font-size: small;
  margin-left: 10px;
  margin-right: 10px;
}

.col text {
  background-color: #F5F5F5;
  text-align: justify;   
}

@media only screen and (min-width: 992px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
